
.live {border-color:#fc4b11; height:600px; width:375px; border-radius:0; horizontal-align: center; margin:0;}


.picture_take {background-color:#fc4b11;color:#fff; font-size: 30px; margin:0 10px; width:80px; height:80px; border-radius:40px; text-align:center; }
.picture_cancel {background-color:#a2c4d5;color:#fff; font-size: 30px; margin:0 10px; width:80px; height:80px; border-radius:40px; text-align:center;}

