<!-- menu client -->
<header class="menu header">
    <button class="logoprof" (click)="goto('/home')"><img src="/assets/images/logo.png" style="margin: auto;padding-top: 10px;" height="50" id="logo"></button>
    <ul class="topnav" id="myTopnav">
        <li>
            <Button class="menuLink" (click)="logout()" >Déconnexion</Button>
        </li>
        <li>
            <button  (click)="goto('settings')" color="#2a6465" class="modprofileBtn">Modifier mon profil<img src="/assets/images/profilepic.jpg" class="profilepic" /></button>
        </li>
        <li>
            <Button class="menuLink" (click)="goto('/live')" >Profs</Button>
        </li>
        <li>                        
            <Button class="menuLink" (click)="goto('/game')" >Jeux</Button>
        </li>
        <li>
            <Button class="menuLink" (click)="goto('/cours')" >Videos</Button>
        </li>
        <li>
            <Button class="menuLink" (click)="goto('/agenda')" >Agenda</Button>
        </li>
        <li>
            <Button class="menuLink" (click)="goto('/conversations')" >Messages</Button>
        </li>
        <li>
            <Button class="menuLink" (click)="goto('/notifications')" >Notifications</Button>
        </li>
    </ul>
</header>
<div class="spikes menu"></div>
<article style="padding-top: 80px;" id="appContainer">
    <router-outlet></router-outlet>
</article>