.avatar{width:120px;height:120px;border-radius:60px;margin:20px;}
.profName{color:#2c3a42;text-align:center;font-size:20px;font-weight:bold;margin-top:0;}
.stars{margin-top:0;margin-bottom:20px;text-align:center;}
.star{margin:4px;font-size:20px;color:#a36200;}
.boldtext{color:#333;font-size:13px;margin:10px 20px 3px 20px;font-weight:bold;}
.text{color:#333;font-size:13px;margin:3px 20px 10px 20px;}